.Top {
  background: #63D471;
  height: 85px;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem calc((100vw - 1000px) / 2);
  z-index: 12;
}

.navlink {
  color: #808080;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
}

.nav-menu{
 display: flex;
 align-items: center;
 margin-right: -24px;
}

.nav-link {
  color: #808080;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}

.nav-link.active,
.nav-link:hover {
  color: #000000;
}

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100vw;
}

.nav-btn-link {
  border-radius: 4px;
  background: #808080;
  padding: 10px 22px;
  color: #000000;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin-left: 24px;
}